<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
{% block content %}
    <h1>Login</h1>

    <div class="container">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <button class="btn btn-outline-info" type="submit">Login</button>
            <br><br>
        </form>
        Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!
    </div>
{% endblock %}
    </center>
</body>
</html>
